extends ../main-frame.pug

block content
    extends ../main-frame.pug

block styles
    link(rel="stylesheet", href="/res/css/profile.css")

block content

    .container-fluid
        .row
            .col-md-10.col-md-offset-1
                .col-md-3.text-center.profile-left-panel
                    a.thumbnail
                        img(src= userData.profilePicture.src, alt="profile-pic")
                    h2 #{userData.username}
                    if userData.username != userData.firstName + ' ' + userData.lastName
                        p #{userData.firstName} #{userData.lastName}
                    if userData.email && user
                        p E-Mail: #{userData.email}
                    if userData.gender
                        p Gender: #{userData.gender}
                    if userData.age
                        p Age: #{userData.age}
                    if userData.role == 'admin'
                        p ADMIN
                    if user && (userData.role != 'admin' && user.role == 'admin')
                        form(action="/profile/" + userData.username + "/update-user-status", method="POST")
                            button.btn.btn-md.btn-warning(type="submit") Promote to Admin
                    if user && user.username == userData.username
                        a.btn.profile(href="/update-info") Update Info
                
                block rightSide
