extends ../main-frame.pug

block styles
    link(href="/res/css/stories.css", rel="stylesheet")
    
block content
    
     .col-md-10.col-md-offset-1.single-story-page
        .col-md-3.text-center.panel-left
            img.thumbnail.single-story-picture(src= story.pictureUrl, alt= story.title)
            if user
                form(action="/stories/" + story._id + "/like-or-dislike", method="POST")
                    if !story.likes.includes(user.username)
                        button.btn.btn-success.btn-xs(type="submit")
                            span.glyphicon.glyphicon-thumbs-up
                            |  Like (#{story.likes.length})
                    else
                        button.btn.btn-success.btn-xs(type="submit")
                            span.glyphicon.glyphicon-thumbs-up
                            |  Liked (#{story.likes.length})
            | Author:  
            a(href="/profile/" + story.author)= story.author
            br
            | Created on: #{story.createdOn}
            if user && (user.username == story.author || user.role == 'admin')
                form(action="/stories/" + story._id + "/delete-story" method="POST")
                    button.btn.btn-sm.btn-danger(type="submit") Delete Story
        .col-md-9
            h1= story.title
            p= story.body
            .footer-fix